.heading{
    font-family: cursive;
    font-size: x-large;
    gap: 10px;
}

.form-field{
    background-color: rgb(248, 248, 118);
    border-radius: 15px;
    padding: 5px;
    font-family: cursive;
}

.submitBtn{
    padding: 5px;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    border: 2px ridge rgb(168, 168, 168);
    text-align: center;
    width:fit-content;
    font-family: cursive;
}

.submitBtn:hover{
    scale: 1.05;
}

.submitBtn:active{
    scale: 1;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}